/* EB Garamond - Downloaded from Google Fonts */

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(eb-garamond-400-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(eb-garamond-700-normal.ttf) format('truetype');
}
