/* PT Sans - Downloaded from Google Fonts */

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(pt-sans-400-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(pt-sans-700-normal.ttf) format('truetype');
}
