@import "../colors/ocean.css";
@import "../fonts/nunito.css";
@import "../styles/background-primary-low.css";
@import "../styles/borders-none.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-top.css";
@import "../styles/accent-1.css";
@import "../styles/accent-secondary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "ocean";
  --preset-fonts: "nunito";
  --preset-background: "primary-low";
  --preset-borders: "none";
  --preset-rounding: "extra";
  --preset-shadows: "extra";
  --preset-spacing: "large";
  --preset-gradients: "on";
  --preset-accent: "top";
  --preset-accentSize: "1";
  --preset-accentColor: "secondary";
}
