/* themes/preset/berry-smoothie.css */
@import "../colors/berry.css";
@import "../fonts/quicksand.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-extra.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-none.css";

/* Metadata for the Editor (MUST BE PRESENT) */
:root {
  --preset-colors: "berry";
  --preset-fonts: "quicksand";
  --preset-borders: "normal";
  --preset-rounding: "extra";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "none";
}
