/* themes/preset/clean-enterprise.css */
@import "../colors/clean-tech.css";
@import "../fonts/open-sans.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-none.css";

/* Metadata for the Editor (MUST BE PRESENT) */
:root {
  --preset-colors: "clean-tech";
  --preset-fonts: "open-sans";
  --preset-borders: "normal";
  --preset-rounding: "normal";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "none";
}
