@import "../colors/cobalt-power.css";
@import "../fonts/montserrat.css";
@import "../styles/background-gray-low.css";
@import "../styles/borders-minimal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-on.css";
@import "../styles/accent-none.css";
@import "../styles/accent-1.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "cobalt-power";
  --preset-fonts: "montserrat";
  --preset-background: "gray-low";
  --preset-borders: "minimal";
  --preset-rounding: "none";
  --preset-shadows: "normal";
  --preset-spacing: "normal";
  --preset-gradients: "on";
  --preset-accent: "none";
  --preset-accentSize: "1";
  --preset-accentColor: "primary";
}
