@import "../colors/forest.css";
@import "../fonts/roboto-slab.css";
@import "../styles/background-none.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-normal.css";
@import "../styles/shadows-normal.css";
@import "../styles/spacing-large.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-left.css";
@import "../styles/accent-1.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "forest";
  --preset-fonts: "roboto-slab";
  --preset-background: "none";
  --preset-borders: "normal";
  --preset-rounding: "normal";
  --preset-shadows: "normal";
  --preset-spacing: "large";
  --preset-gradients: "off";
  --preset-accent: "left";
  --preset-accentSize: "1";
  --preset-accentColor: "primary";
}
