@import "../colors/neon.css";
@import "../fonts/jetbrains-mono.css";
@import "../styles/background-none.css";
@import "../styles/borders-extra.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-small.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-left.css";
@import "../styles/accent-2.css";
@import "../styles/accent-primary.css";

/* Metadata for the editor */
:root {
  --preset-colors: "neon";
  --preset-fonts: "jetbrains-mono";
  --preset-background: "none";
  --preset-borders: "extra";
  --preset-rounding: "none";
  --preset-shadows: "extra";
  --preset-spacing: "small";
  --preset-gradients: "off";
  --preset-accent: "left";
  --preset-accentSize: "2";
  --preset-accentColor: "primary";
}
