/* themes/preset/power-grid.css */
@import "../colors/power.css";
@import "../fonts/space-grotesk.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-extra.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-right.css";

/* Metadata for the Editor (MUST BE PRESENT) */
:root {
  --preset-colors: "power";
  --preset-fonts: "space-grotesk";
  --preset-borders: "normal";
  --preset-rounding: "none";
  --preset-shadows: "extra";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "right";
}
