/* themes/preset/vintage-journal.css */
@import "../colors/vintage.css";
@import "../fonts/pt-serif.css";
@import "../styles/borders-normal.css";
@import "../styles/rounding-none.css";
@import "../styles/shadows-none.css";
@import "../styles/spacing-normal.css";
@import "../styles/gradients-off.css";
@import "../styles/accent-none.css";

/* Metadata for the Editor (MUST BE PRESENT) */
:root {
  --preset-colors: "vintage";
  --preset-fonts: "pt-serif";
  --preset-borders: "normal";
  --preset-rounding: "none";
  --preset-shadows: "none";
  --preset-spacing: "normal";
  --preset-gradients: "off";
  --preset-accent: "none";
}
