/* Architects Daughter - Downloaded from Google Fonts */

@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(architects-daughter-400-normal.ttf) format('truetype');
}
