/* Alfa Slab One - Downloaded from Google Fonts */

@font-face {
  font-family: 'Alfa Slab One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(alfa-slab-one-400-normal.ttf) format('truetype');
}
