/* Lexend - Downloaded from Google Fonts */

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(lexend-100-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(lexend-200-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(lexend-300-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(lexend-400-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(lexend-500-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(lexend-600-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(lexend-700-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(lexend-800-normal.ttf) format('truetype');
}

@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(lexend-900-normal.ttf) format('truetype');
}
